header
        {
            background-color: #003f88;
            color: #fff;
            /* display: grid;
            grid-template-columns: 1fr 1fr; */
            /* text-align: center;
            padding: 10px 0; */
        }

		nav ul {
		    background-color: #003f88;
		    color: #fff;
		    text-align: left;
		    padding: 10px;
		    display: flex;
		    justify-content: space-around;
            
		}


        
        footer {
                    background-color: #003f88;
                    color: #fff;
                    text-align: center;
                    padding: 10px 0;
                }
        