@media (min-width: 37.5rem){ 
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
       
        
    }

    body {
        background-color: #0077B6;
        text-align: center;
        margin: 50px;
    }


      .navigation li {
        display: block;
        flex: 1 1 100%;
      }

      .navigation a {
      
        text-align: center;
      }
      
      nav ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        font-family: var(--heading-font);
        padding: 1rem;
        margin: 0;}

    
      
}
