
@media (min-width: 37.5rem){

    .hero img {
        border-bottom: none;
        vertical-align: bottom;
        width: 100%;
       
    } 

    h1 {
        background-color: #003F88;
    }

    
    

    #menu {
        display: none; /* hide hamburger button */
      }
      
      
      
      
    .navigation a { 
        text-align: center;
      }

    .navigation li {

          display: block;
          flex: 1 1 100%;
      }
        
        
      
      
      nav ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        font-family: var(--heading-font);
        padding: 2rem;
        margin: 0;
        color: #FEFCFB;
    }

    .description {
      bottom: 5rem;
	    left: 5rem;   
      border-radius: 15px 50px 30px;
      background-color: #003F88;
    }


    .presentation {
        bottom: 5rem;
	      right: 5rem;        
        border-radius: 30px 50px 15px;
        background-color: #003F88;
    } 

    main  {
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    footer {
      background-color: var(--primary-color);
      padding: 5rem;
      color: var(--accent3-color);
      text-align: center;
      font-size: large;
      font-family: var(--heading-font);
  
  }


      }

    


    

    

    

    

    

   