@media (min-width: 37.5rem){ 
    
    
    .navigation a { 
        text-align: center;
      }

    .navigation li  {

        display: block;
        flex: 1 1 100%;
    }



      nav ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        font-family: var(--heading-font);
        margin: 0;
        color: #FEFCFB;
    }

    #menu {
      display: none;
    }

    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      
    }

    footer {
      background-color: var(--primary-color);
      padding: 1rem;
      margin: 0;
      color: var(--accent2-color);
      text-align: center;
      font-family: var(--heading-font);
      padding: 4rem;
   }

   .menu a {
    width: 400px;
    padding: 10px;
    display: grid;
    text-decoration: none;
    color: #FEFCFB;
    background-color:#003F88 ;
    margin: 5px;
    font-family:Bree Serif, serif;
    font-size: larger;
}
#description {
    margin-top: 20px;
    padding: 10px;
    background-color: #003F88;
    width: 200px;
    font-family:  Serif, serif;
    font-size: larger;
    color: #FEFCFB;
}

    

}
