@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

:root {
        --primary-color: #003F88;
         --secondary-coloor: #00509D;
        --accent1-color: #0077B6;
        --accent2-color: #FEFCFB;
        --accent3-color: #FDC500;
        
        --nav-background-color: #00296B;
        --nav-link-color: #FEFCFB;
        --nav-hover-link-color: #001F54;
        --nav-hover-background-color: #FEFCFB;

        --heading-font: Bree Serif, serif;
        --paragraph-font: serif;

   
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }


header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--primary-color);
    
}

h1 {
   color: var(--accent2-color);
   font-family: var(--heading-font);
}

#menu {
   display: block;
   font-size: 2rem;
   font-weight: 700;
   text-decoration: none;
   padding: .5rem .75rem;
   background-color: var(--primary-color);
   color: var(--accent2-color);
   
}

#menu::before {
   content: "☰";;
}

.navigation {
   list-style: none;
   margin: 0 auto;
   max-width: 760px;
}

.navigation li {
   display: none;
}

.navigation a {
   display: block;
   padding: 0.75rem;
   text-align: right;
   text-decoration: none;
   color: var(--accent2-color);
   font-weight: 700;
   font-family: var(--heading-font);
  
}

.navigation a:hover, navigation a:active {
   color: var(--accent3-color);
   background-color: var(--accent1-color);
}

.show li {
   display: block;
}

#menu.show::before{
   content: "X";
}



body {
  
   max-width: 1000px;
   text-align: center;
   margin: 0 auto;
   background-color: var(--accent1-color);
}



form {
   margin-top: 5px;
   margin-bottom: 5px;
}

.hero img {
   width: 100%;
}

footer {
   background-color: var(--primary-color);
   padding: 1rem;
   margin: 0;
   color: var(--accent2-color);
   text-align: center;
   font-family: var(--heading-font);
}

h2 {
   text-align: center;
   font-family: var(--heading-font);
   color: var(--accent2-color);
}

form {
   max-width: 400px;
   margin: 0 auto;
   border: 1px solid #003F88;
   padding: 20px;
   border-radius: 5px;
   background-color: var(--primary-color);
}

label {
   display: inline-block;
   width: 100px;
   font-weight:400;
   color: var(--accent2-color);
   font-family: var(--heading-font);
}

input[type="text"],
input[type="email"] {
   width: 250px;
   padding: 5px;
   margin-bottom: 10px;
}

input[type="radio"] {
   margin-right: 5px;
}

button[type="submit"] {
   display: block;
   margin: 20px auto 0;
   padding: 10px 40px;
   background-color: var(--accent1-color);
   color: var(--accent2-color);
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-weight: 500;
   font-family: var(--heading-font);
   font-size: larger;
}