@media screen and (min-width: 500px) {

    main > div {
        background-color: blue;
        color: white;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr;
    } 
}




