@media (min-width: 37.5rem){

main > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  
}

#menu {
  display: none; /* hide hamburger button */
}



.navigation a {
  display: block;
  flex: 1 1 100%;
  
  
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-family: var(--heading-font);
  padding: 1rem;
  margin: 0;}
}