@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
:root {
    --primary-color: #034078;
    --secondary-coloor: #0A1128;
    --accent1-color: #1282A2;
    --accent2-color: #FEFCFB;


    --heading-font: DM Serif Display, serif;
    --paragraph-font: open sans;

    --nav-background-color: #001F54;
    --nav-link-color: #FEFCFB;
    --nav-hover-link-color: #001F54;
    --nav-hover-background-color: #FEFCFB;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--primary-color);
}

h1 {
    color: var(--accent2-color);
}

h2 {
    color: var(--accent1-color);
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: _________,
	________,
	________;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}




nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-family: var(--heading-font);
    padding: 1rem;
    margin: 0;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

main  {
    display: block;
  }

body {
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
    background-color: var(--accent2-color);
}

figcaption {
    color: var(--accent1-color)
}

footer {
    background-color: var(--primary-color);
    padding: 1rem;
    margin: 0;
    color: var(--accent2-color);
    text-align: center;
}